/REF/*
/OBJ/*

/USER/*
USER\008FOC.uvoptx
!/USER/main.c
!/USER/main.h

#/USER

#/FreeRTOS-Kernel
#
#/HAL/C/*
#!/HAL/C/zmz_iic_soft_hal.c
#
#/HAL/H/*
#!/HAL/H/zmz_iic_soft_hal.h
#
#/DRIVER/C/*
#!/DRIVER/C/zmz_iic_soft_drv_STM32F103.c
#!/DRIVER/C/zmz_gpio_drv_STM32F103.c
#!/DRIVER/C/zmz_timer_drv_STM32F103.c
#
#/DRIVER/H/*
#!/DRIVER/H/zmz_iic_soft_drv_STM32F103.h
#!/DRIVER/H/zmz_gpio_drv_STM32F103.h
#!/DRIVER/H/zmz_timer_drv_STM32F103.h
